<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INMBA Rank Table</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      padding: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #000;
      padding: 5px 8px;
      text-align: center;
    }

    th {
      background-color: #dce6f1;
      font-weight: bold;
    }

    .title-col {
      text-align: left;
    }

    .red    { color: red; font-weight: bold; }
    .blue   { color: blue; font-weight: bold; }
    .green  { color: green; font-weight: bold; }
    .orange { color: orange; font-weight: bold; }
  </style>
</head>
<body>

<table>
  <thead>
    <tr>
      <th rowspan="2">LEVELS</th>
      <th rowspan="2">SIGN</th>
      <th rowspan="2">TITLE OF RANK</th>
      <th rowspan="2">Royalty From</th>
      <th colspan="4">PERCENTAGE</th>
      <th colspan="5">TNS SCORE</th>
      <th rowspan="2">RANGE OF TNS</th>
    </tr>
    <tr>
      <th>Direct Network Royalty</th>
      <th>IN Direct Network Royalty</th>
      <th>Direct Business Royalty</th>
      <th>IN Direct Business Royalty</th>
      <th>PAID DIRECT</th>
      <th>PAID IN-DIRECT</th>
      <th>NON PAID DIRECT MEMBER</th>
      <th>NON PAID IN-DIRECT MEMBER</th>
      <th>TNS VALUE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LEVEL 01</td>
      <td class="blue">IN</td>
      <td class="title-col">INDEPENDENT NETWORKER</td>
      <td>level 1</td>
      <td>-</td>
      <td>-</td>
      <td>12%</td>
      <td>3%</td>
      <td></td>
      <td></td>
      <td>50</td>
      <td>100</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>LEVEL 02</td>
      <td class="blue">ICP</td>
      <td class="title-col">INDEPENDENT CHAMBER PATRON</td>
      <td>level 1-2</td>
      <td>12%</td>
      <td class="red">8%</td>
      <td>12%</td>
      <td>2%</td>
      <td>6</td>
      <td>24</td>
      <td>81</td>
      <td>162</td>
      <td>135</td>
      <td>150</td>
    </tr>
    <tr>
      <td>LEVEL 03</td>
      <td class="blue">ICC</td>
      <td class="title-col">INDEPENDENT CHAMBER COMMITTEE</td>
      <td>level 1-3</td>
      <td>12%</td>
      <td class="red">7%</td>
      <td>12%</td>
      <td>2%</td>
      <td>10</td>
      <td>39</td>
      <td>131</td>
      <td>262</td>
      <td>218</td>
      <td>250</td>
    </tr>
    <tr>
      <td>LEVEL 04</td>
      <td class="blue">DCP</td>
      <td class="title-col">DISTRICT CHAMBER PATRON</td>
      <td>level 1-4</td>
      <td>12%</td>
      <td class="red">6%</td>
      <td>12%</td>
      <td>2%</td>
      <td>16</td>
      <td>63</td>
      <td>212</td>
      <td>424</td>
      <td>353</td>
      <td>350</td>
    </tr>
    <tr>
      <td>LEVEL 05</td>
      <td class="blue">DCC</td>
      <td class="title-col">DISTRICT CHAMBER COMMITTEE</td>
      <td>level 1-5</td>
      <td>12%</td>
      <td class="red">5%</td>
      <td>12%</td>
      <td>2%</td>
      <td>25</td>
      <td>102</td>
      <td>343</td>
      <td>685</td>
      <td>571</td>
      <td>600</td>
    </tr>
    <tr>
      <td>LEVEL 06</td>
      <td class="blue">ZCP</td>
      <td class="title-col">ZONE CHAMBER PATRON</td>
      <td>level 1-6</td>
      <td>12%</td>
      <td class="red">4%</td>
      <td>12%</td>
      <td>2%</td>
      <td>41</td>
      <td>165</td>
      <td>555</td>
      <td>1,109</td>
      <td>925</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>LEVEL 07</td>
      <td class="orange">ZCC</td>
      <td class="title-col">ZONE CHAMBER COMMITTEE</td>
      <td>level 1-7</td>
      <td>12%</td>
      <td>5%</td>
      <td>12%</td>
      <td>3%</td>
      <td>67</td>
      <td>266</td>
      <td>897</td>
      <td>1,795</td>
      <td>1,496</td>
      <td>1500</td>
    </tr>
    <tr>
      <td>LEVEL 08</td>
      <td class="red">SCP</td>
      <td class="title-col">STATE CHAMBER PATRON</td>
      <td>level 1-8</td>
      <td>12%</td>
      <td>5%</td>
      <td>12%</td>
      <td>3%</td>
      <td>108</td>
      <td>431</td>
      <td>1,452</td>
      <td>2,904</td>
      <td>2,421</td>
      <td>2500</td>
    </tr>
    <tr>
      <td>LEVEL 09</td>
      <td class="red">SCC</td>
      <td class="title-col">STATE CHAMBER COMMITTEE</td>
      <td>level 1-9</td>
      <td>12%</td>
      <td>4%</td>
      <td>12%</td>
      <td>4%</td>
      <td>174</td>
      <td>697</td>
      <td>2,349</td>
      <td>4,698</td>
      <td>3,917</td>
      <td>5000</td>
    </tr>
    <tr>
      <td>LEVEL 10</td>
      <td class="red">NCP</td>
      <td class="title-col">NATIONAL CHAMBER PATRON</td>
      <td>level 1-10</td>
      <td>12%</td>
      <td>4%</td>
      <td>12%</td>
      <td>4%</td>
      <td>282</td>
      <td>1,128</td>
      <td>3,801</td>
      <td>7,602</td>
      <td>6,338</td>
      <td>7500</td>
    </tr>
    <tr>
      <td>LEVEL 11</td>
      <td class="red">NCC</td>
      <td class="title-col">NATIONAL CHAMBER COMMITTEE</td>
      <td>level 1-11</td>
      <td>12%</td>
      <td>3%</td>
      <td>12%</td>
      <td>7%</td>
      <td>456</td>
      <td>1,824</td>
      <td>6,150</td>
      <td>12,300</td>
      <td>10,255</td>
      <td>10000</td>
    </tr>
    <tr>
      <td>LEVEL 12</td>
      <td class="red">CCP</td>
      <td class="title-col">CONTINENTAL CHAMBER PATRON</td>
      <td>level 1-12</td>
      <td>12%</td>
      <td>3%</td>
      <td>12%</td>
      <td>5%</td>
      <td>738</td>
      <td>2,952</td>
      <td>9,951</td>
      <td>19,902</td>
      <td>16,593</td>
      <td>20000</td>
    </tr>
    <tr>
      <td>LEVEL 13</td>
      <td class="red">CCC</td>
      <td class="title-col">CONTINENTAL CHAMBER COMMITTEE</td>
      <td>level 1-13</td>
      <td>12%</td>
      <td>3%</td>
      <td>12%</td>
      <td>6%</td>
      <td>1,194</td>
      <td>4,777</td>
      <td>16,101</td>
      <td>32,203</td>
      <td>26,849</td>
      <td>30000</td>
    </tr>
    <tr>
      <td>LEVEL 14</td>
      <td class="red">INCP</td>
      <td class="title-col">INTERNATIONAL CHAMBER PATRON</td>
      <td>level 1-14</td>
      <td>12%</td>
      <td>2%</td>
      <td>12%</td>
      <td>7%</td>
      <td>1,932</td>
      <td>7,729</td>
      <td>26,053</td>
      <td>52,106</td>
      <td>43,442</td>
      <td>50000</td>
    </tr>
    <tr>
      <td>LEVEL 15</td>
      <td class="red">INCC</td>
      <td class="title-col">INTERNATIONAL CHAMBER COMMITTEE</td>
      <td>level 1-15</td>
      <td>12%</td>
      <td>1%</td>
      <td>12%</td>
      <td>10%</td>
      <td>3,126</td>
      <td>12,505</td>
      <td>42,155</td>
      <td>84,309</td>
      <td>70,292</td>
      <td>75000</td>
    </tr>
    <tr>
      <td>LEVEL 16</td>
      <td class="red">IPS</td>
      <td class="title-col">INMBA PATRON SENATE</td>
      <td>level 1-16</td>
      <td>12%</td>
      <td>1%</td>
      <td>12%</td>
      <td>12%</td>
      <td>5,059</td>
      <td>20,234</td>
      <td>68,208</td>
      <td>136,416</td>
      <td>113,735</td>
      <td>100000</td>
    </tr>
  </tbody>
</table>

</body>
</html>
